<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 col-sm-offset-4">
      <h1>My tasks</h1>
      <% if @tasks.empty? %>
        <h5>You currently do not have any tasks.</h5>
      <% else %>
          <% @tasks.each do |task| %>
            <div class="tasks">
              <%= link_to task.title, task_path(task) %>
              <% if task.completed %>
                <input type="checkbox" checked>
              <% else %>
                <input type="checkbox">
              <% end %>
              <%= link_to "Delete", task_path(task),
                  method: :delete,
                  data: { confirm: "Delete" + " " + task.title + "?" }, class: "btn btn-outline-danger" %>
            </div>
          <% end %>
      <% end %>
      <%= link_to '+ Add a new task', new_task_path, class: "btn btn-primary" %>
      </div>
  </div>
</div>
