<div class="banner">
  <h1>Welcome to the <strong>Tasks</strong> Manager!</h1>
  <p>Start improving your life by managing your daily tasks right now.</p>
  <%= link_to 'Start', tasks_path, class: "btn btn-success"  %>
</div>


