<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3299/postit-scrabble-to-do.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div>
    <div>
      <h1>Welcome to the <strong>Tasks</strong> Manager!</h1>
    <div>
    <div>
      <p>Start improving your life by managing your daily tasks right now.</p>
    </div>
    <div>
      <div class="btn btn-success">
        <%= link_to 'Start', tasks_path  %>
      </div>
    </div>
    </div>
  </div>
</div>



