<div>
  <h1>Welcome to the Tasks Manager</h1>
</div>
<div>
  <p>Start improving your life by managing your tasks right now</p>
</div>
<div>
  <div class="btn btn-success">
    <%= link_to 'Start', tasks_path  %>
  </div>
</div>
