.btn {
  opacity: 0.7;
  & a {
  color: white;
  font-weight: bold;
  }

  &:hover {
    opacity: 1;
  }
}


.btn-outline-danger {
  padding: 3px;
  font-size: 12px;
}


.back-btn {
  margin-top: 10px;
}
