// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  height: 100vh;
}
.container {
  background-color: white;
  max-height: 100vh;
  margin-top: 30px;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
